In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
trainData = pd.read_excel('Data_Train.xlsx')
testData = pd.read_excel('Test_set.xlsx')

In [45]:
testData

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [46]:
bigdf = trainData.append(testData, sort =False)

In [47]:
bigdf['Day'] = bigdf['Date_of_Journey'].str.split('/').str[0]
bigdf['Month'] = bigdf['Date_of_Journey'].str.split('/').str[1]
bigdf['Year'] = bigdf['Date_of_Journey'].str.split('/').str[2]

In [48]:
bigdf.drop('Date_of_Journey', axis=1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,6,06,2019
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,27,03,2019
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,6,03,2019
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,6,03,2019
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,15,06,2019

In [49]:
bigdf['Arrival_Time'] = bigdf['Arrival_Time'].str.split(" ").str[0]

In [50]:
bigdf['Total_Stops'].isna().sum()

1

In [51]:
bigdf[bigdf['Total_Stops'].isna()]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
9039,Air India,6/05/2019,Delhi,Cochin,NaN,09:45,09:25,23h 40m,NaN,No info,7480.0,6,05,2019

In [54]:
bigdf['Total_Stops'] = bigdf['Total_Stops'].fillna('1 stop')

In [55]:
bigdf['Total_Stops'].isna().sum()

0

In [56]:
bigdf['Total_Stops'].head()

0    non-stop
1     2 stops
2     2 stops
3      1 stop
4      1 stop
Name: Total_Stops, dtype: object

In [57]:
bigdf['Total_Stops'] = bigdf['Total_Stops'].replace('non-stop','0 stop')

In [62]:
non_StopCount = [stop for stop in  bigdf['Total_Stops'] if stop == 'non-stop']

In [63]:
print(len(non_StopCount))

0

In [67]:
bigdf['Total_Stops'].unique()

array(['0 stop', '2 stops', '1 stop', '3 stops', '4 stops'], dtype=object)

In [68]:
bigdf['Stop'] = bigdf['Total_Stops'].str.split(' ').str[0]

In [69]:
bigdf['Stop'].unique()

array(['0', '2', '1', '3', '4'], dtype=object)

In [70]:
bigdf['Stop'] = bigdf['Stop'].astype(int)

In [74]:
bigdf['Stop'].dtype

dtype('int64')

In [75]:
bigdf = bigdf.drop('Total_Stops', axis = 1)

In [77]:
bigdf['Arrival_Hour'] = bigdf['Arrival_Time'].str.split(':').str[0]
bigdf['Arrival_Minute'] = bigdf['Arrival_Time'].str.split(':').str[1]

In [78]:
bigdf = bigdf.drop('Arrival_Time', axis = 1)

In [79]:
bigdf['Arrival_Hour'] = bigdf['Arrival_Hour'].astype(int)
bigdf['Arrival_Minute'] = bigdf['Arrival_Minute'].astype(int)

In [80]:
bigdf.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Duration            object
Additional_Info     object
Price              float64
Day                 object
Month               object
Year                object
Stop                 int64
Arrival_Hour         int64
Arrival_Minute       int64
dtype: object

In [81]:
bigdf['Day'] = bigdf['Day'].astype(int)
bigdf['Month'] = bigdf['Month'].astype(int)
bigdf['Year'] = bigdf['Year'].astype(int)

In [82]:
bigdf.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Duration            object
Additional_Info     object
Price              float64
Day                  int64
Month                int64
Year                 int64
Stop                 int64
Arrival_Hour         int64
Arrival_Minute       int64
dtype: object

In [83]:
bigdf['Departure_Hour'] = bigdf['Dep_Time'].str.split(':').str[0]
bigdf['Departure_Minute'] = bigdf['Dep_Time'].str.split(':').str[1]

In [85]:
bigdf['Departure_Hour'] = bigdf['Departure_Hour'].astype(int)
bigdf['Departure_Minute'] = bigdf['Departure_Minute'].astype(int)
bigfg  = bigdf.drop('Dep_Time', axis = 1)